.layout {
  display: grid;
  grid-template-columns: 50px calc(100vw - 50px);
  grid-template-rows: 50px calc(100% - 50px);
  grid-template-areas: "menu header" "menu content";
}
.menu {
  grid-area: menu;
}
.header {
  grid-area: header;
}
